.site-main {
  margin: 1rem auto;
  padding: 1rem;
  width: 80%;
}
.site-main h2 {
  font-size: 1.5rem;
}
.site-main .staff-title h1 {
  font-size: 3rem;
}

// .site-main .staff-welcome {
//   width: 80%;
//   margin: 0rem auto;
//   border-bottom: 0.1875rem solid blue;
// }
