.site-main {

  width: 85%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  margin: 0rem auto;
  padding: 1rem;
}

.site-main .page .entry-content .wp-block-image .alignwide img {
  width: 200px;
  height: 300px;
}

.home-blog .home-blog-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.home-blog-articles {
  margin: 2rem 0.5rem;
  width: 25rem;
  height: 18.75rem;
  display: flex;
}

.wp-image-84{
   width: 100%;
   height: auto;
}