.site-main .ptc-student {
  margin: 0rem auto;
}

.ptc-student .entry-header {
  // font-size: 2rem;
  text-decoration: underline;
  color: blue;
}

.profile li {
  list-style: none;
}
.profile li a {
  font-size: 1.3rem;
  color: blue;
}

.profile li a:visited {
  color: blue;
}

.portfolio-link {
  color: blue;
  font-size: 1.3rem;
}

.portfolio-link:visited {
  color: blue;
}
